@*@model VeggieProductsApp2.Models.Product*@
@model VeggieProductsApp2.Models.ViewModels.ProductVM

@{
    ViewData["Title"] = "Details";
}

<h1>Her kan du se detaljer om produktet</h1>

<div class="border backgroundWhite">
    <h4>Produkt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ShopName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ShopName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Zipcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category.CategoryDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="Product" asp-area="Admin" asp-route-id="@Model.Product.Id" class="btn btn-primary">Rediger</a> |
    <a asp-action="Index" asp-controller="Product" asp-area="Admin" class="btn btn-info">Gå tilbage til listen</a>
</div>
